<center><h3>Trackster Playlist</h3></center>

<% @songs.each do |song| %>
  <center><font face="Helvetica Neue"<div class="song">
    <h3>♫ <a href="/songs/<%= song.id %>"><%= song.title %></a> <small>[ Artist: <%= song.author %> ]</small> ♫</h3>
    <p>
      <a href="<%= song.url %>">Listen Now</a>
    </p>
    <p>
      <h6>Created at: <%= song.created_at %></h6>
    <p>
      - - - - - - - - - - - - 
    </p>
  </font></div></center>
<% end %>

<center><font face="Helvetica Neue"><a href="/songs/new">Post a song... a good one!</a></font></center>